footer {
  position:absolute;
  bottom:0;
  width:100%;
  background:#6cf;
}

.jumbotron {
  background-image: linear-gradient(-60deg, #6c3 30%, #09f 30%);
}

.jumbotron {
  overflow: hidden;
  position: relative;
}

.jumbotron img {
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  position: absolute;
  left: 63%;
  top: 20%;
  margin: -100px 0 0 -150px;
}
